PORT=3000
NODE_ENV=development


# JWT Configuration
JWT_SECRET=4z56pvFfzxvvhfYEd6ATcqc7KWtfkr4dJRSvCYejQ0F56khZayJ3kEOyBXlxHK6V
JWT_EXPIRES_IN=1h
JWT_AUDIENCE=Auth
JWT_ISSUER=Auth

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/mydb"